@tailwind base;
@tailwind components;
@tailwind utilities;

@import './normalize.css';

input, textarea, select {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

.title {
  font-size: 20px;
}


.table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
}

.table.products {
  grid-template-columns: minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);

  grid-template-rows: 50px auto;
}

.table.categories {
  grid-template-columns: minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 0.33fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  font-size: 12px;
  gap: 10px;
  align-items: center;
}

th {
  position: sticky;
  top: 0;
  background: #1A1A25;
  text-align: left;
  font-weight: normal;
  color: white;
  border-right: 1px solid #525252;
}

th:last-child {
  border: 0;
}

td {
  color: #000000;
  border-right: 1px solid #dadada;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}

.category_feature {
  gap: 10px;
  display: inline-flex;
}

.category_feature span {
  padding: 3px;
  color: #fff;
  background-color: #ff9353;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 5px;
}

.col_descr {
  font-size: 12px;
}

.flex-table {
  display: flex;
  padding: 5px;

  &:nth-child(2n) {
    background: #f8f6ff;

  }
}

.flex-table_column {
  flex: 0 1 20%;
}

.flex-table--top {
  background: #1A1A25;

  .flex-table_column {
    margin-bottom: 0;
  }
}

