.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 5px;
  border: 2px solid #1A1A25;
  padding: 0 15px 10px;
  min-width: 320px;

  span {
    display: flex;
    padding: 7px 0;
  }
}

.form_wrapper {
  min-width: 320px;
}

.btn {
  background-color: #1A1A25;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;

  &__full {
    width: 100%;
  }
}

.btn_green {
  @apply bg-green-600 hover:bg-green-400 text-white py-1 px-3 border-b-4 border-green-700 hover:border-green-500 rounded text-xs;
}

.btn_gray {
  @apply bg-gray-400 hover:bg-gray-500 text-white py-1 px-3 border-b-4 border-gray-500 hover:border-gray-600 rounded text-xs;
}

.btn_orange {
  @apply bg-orange-500 hover:bg-orange-600 text-white py-1 px-3 border-b-4 border-orange-700 hover:border-orange-700 rounded text-xs;
}

.btn_red {
  @apply bg-red-500 hover:bg-red-600 text-white py-1 px-3 border-b-4 border-red-700 hover:border-red-700 rounded text-xs;
}

